html {
  //height: 100%;
  //min-height: 100%;
}
body {
  //height: 100%;
  //min-height: 100%;
  //padding: $grid-gutter-width 0;
  color: var(--greyish-brown);
}
header {
  background-image: url("/assets/images/bg_header_footer.png");
  background-position: top center;
  background-repeat: repeat-x;
  padding-top: $grid-gutter-width;
}
footer {
  background-image: url("/assets/images/bg_header_footer.png");
  background-position: bottom center;
  background-repeat: repeat-x;
  padding-bottom: $grid-gutter-width;
}
#sliderImg {
  img {
    max-width: 100%;
  }
}
#sliderImg {
  position: relative;
}
#sliderPrev,
#sliderNext {
  position: absolute;
  padding:10px 15px;
  top:0;
  bottom:0;
  font-size:72px;
  color:var(--white);
  text-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
#sliderPrev {
  left:5px;
}
#sliderNext {
  right:5px;
}